@font-face {
    font-family: JetBrains;
    src: 
        url("./fonts/JetBrainsMonoNL-Regular.ttf")
}

body{
    font-family: JetBrains;
    background-color: rgb(25, 25, 25);
    color: white;

    padding: 10px;
    
    display: flex;
    justify-content: center;
}

.headerDiv{
    display: flex;
}

.main-name{
    color: rgb(200,200,255);
    margin-top: 0px;
}

.main-name:hover, .subtitle:hover, .arsenal{
    color: rgb(250,100,100);
    transition: color 0.1s;
    cursor: pointer;
}

.main-section{
    display: flex;
    flex-direction: column;

    flex-basis: 900px;
}

ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: gray;
}

.subtitle{
    color: rgb(200,200,255);
}

.arsenal{
    display: flex;
}

.mainSubtitleDiv{
    color: rgb(200,200,200);
}