@font-face {
    font-family: mononoki;
    src: 
        url("./fonts/Lato-Italic.ttf")
}
@font-face {
    font-family: Lato-Light;
    src: 
        url("./fonts/Lato-Light.ttf")
}

body{
    letter-spacing: 1px;
    font-family: Lato-Light;
    background-color: rgb(25, 25, 25);
    color: white;

    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 110%;
}

.headerDiv{
    display: flex;
}

.main-name{
    color: rgb(230, 84, 84);
    margin-top: 0px;
}

.main-name:hover, .subtitle:hover, .arsenal, .projectName:hover{
    color: rgb(126, 82, 2);
    transition: color 0.1s;
    cursor: pointer;
}

.main-section{
    display: flex;
    flex-direction: column;

    flex-basis: 790px;
}

p {
    font-size: 103%;
}

ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a.topPageLink{
    text-decoration: none;
    color: gray;
}

.subtitleDiv{
    display: flex;
    margin-top: -10px;
    margin-bottom: -25px;
    color: rgb(230, 84, 84);
}

.mainSubtitleDiv{
    color: rgb(255, 153, 76);
}

.specificName {
    color: rgb(62, 182, 243);
    display: block;
    text-decoration: none;
}

.projectHeader {
    font-size: large;
    display: flex;
    gap: 20px;
}

.projectName {
    text-decoration: none;
    color: orange;
}