:root {
  --background-color: #111;
  --text-color: #d1d5db;
  --accent-color: rgb(94, 161, 255);
  --font-monospace: 'Victor Mono', 'Fira Code', monospace;
  --font-monospace-alt: 'Anonymous Pro', 'Victor Mono', monospace;
}

body {
  background-color: var(--background-color);
  color: white;

  font-family: var(--font-monospace);
  font-weight: 200;
  /* margin-right: 50%;
  margin-top: 3%; */

}

.container {
  margin-top: 5%;
  margin-left: 13%;

  width: fit-content;

  max-width: 800px;
  min-height: 100vh;

  display: block;
}

.name-style {
  font-weight: 200;
}

.name-style:hover, .project-name:hover {
  color:grey;
}

ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
  padding-left: 0;
  font-family: 'Fira Code';
}

.top-page-link {
  color: var(--accent-color)
}

.project-section-title, .blogposts-section-title{
  font-weight: 300;
  color: var(--accent-color);
}

.project-name {
  font-size: 120%;
  font-weight: bolder;
  font-family: var(--font-monospace);
  letter-spacing: 0.5px;
  color: var(--text-color);
  text-decoration: none;
}

.project-blurb {
  margin-top: 5px;
}

.markdown-body {
  line-height: 2;
  color: var(--text-color);
  margin-top: 1rem
}

.markdown-body p {
  margin-bottom: 1.5rem;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  color: var(--accent-color);
  font-weight: 300;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.markdown-body pre {
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  border: 1px solid #333;
  line-height: 1.5;
}

.markdown-body em {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;

  font-weight: 300;
  font-size: large;
  letter-spacing: -0.2px;
  color: #ccc;
}

.markdown-body code {
  font-family: var(--font-monospace);
  background-color: #222;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  line-height: 1.5;
}

.markdown-body img {
  max-width:  100%;
  width: 70%;
  display: block;
  margin: 2rem auto;

  border-radius: 8px;
  border: 1px solid #333;
}

.markdown-body a{
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.markdown-body a:hover{
  color: #ccc;
  text-decoration-color: #ccc;
}

.markdown-body h3:first-of-type{
  margin-top: 0.5rem;
}