:root {
  --background-color: #111;
  --text-color: #d1d5db;
  --accent-color: rgb(94, 161, 255);
  --font-monospace: 'Victor Mono', 'Fira Code', monospace;
  --font-monospace-alt: 'Anonymous Pro', 'Victor Mono', monospace;
}

body {
  background-color: var(--background-color);
  color: white;

  font-family: var(--font-monospace);
  font-weight: 200;
  /* margin-right: 50%;
  margin-top: 3%; */

}

.container {
  margin-top: 5%;
  margin-left: 13%;

  width: fit-content;

  max-width: 650px;
  min-height: 100vh;

  display: block;
}

.name-style {
  font-weight: 200;
}

.name-style:hover, .project-name:hover {
  color:grey;
}

ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
  padding-left: 0;
  font-family: 'Fira Code';
}

.top-page-link {
  color: var(--accent-color)
}

.project-section-title, .blogposts-section-title{
  font-weight: 300;
  color: var(--accent-color);
}

.project-name {
  font-size: 120%;
  font-weight: bolder;
  font-family: var(--font-monospace);
  letter-spacing: 0.5px;
  color: var(--text-color);
  text-decoration: none;
}

.project-blurb {
  margin-top: 5px;
}